.formsDetails {
    padding: 10px 0px;
}

button {
    width: 230px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputFieldDiv {
    border: 1px solid rgb(38, 53, 61);
    border-radius: 7px;
    width: fit-content;
    padding: 30px 40px 40px 40px;
    margin: auto;
}

.actionStyles{
    position: relative;
    left: 10px;
}